*{
    
    padding: 0;
    box-sizing: border-box;

}

html, body{
    margin:0;
    padding: 0;
    height: 100%;
}

.titulo{
    position: relative;
}
h1{
    font-weight: bolder;
}

header{
    background-color:#fefe2a;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    flex-direction: column;
}

.seccion-productos{
    background-image: url('fondo\ juguete.png');
    border-radius: 30px;

}

nav ul{
    display:flex;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}

.servicio{
    background-color: #fefe2a;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom:10px;
    font-weight: bold;
    justify-content: center;
}
.productos {

    display: grid;
    grid-template-columns: repeat(6, 186px);
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 80px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #8d8d8d;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

nav ul li a:hover{
    background-color: #777;
    transform: scale(1.1);
}

main {
    padding: 10px;
}


.grip-item{
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    text-align:center;
    flex: 1;
}

.producto {
  background-color:#faff6a;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;

}

.producto img {
  max-width: 100%;
  height: 140px;
  border-radius: 8px;
}

.producto h3 {
  margin: 10px 0;
}

.marca{
   
}
.logotipo{
    width: 100px;
    position: absolute;
    left: 50px;
}

.producto button {
  background-color: #7d7c76;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.producto button:hover {
  background-color: #555;
}

.seccion-productos {
  display: grid;
  flex-direction: row;
  align-items: center; /* Centra todo horizontalmente */
  justify-content: center;
}

.seccion1{
    display: flex;
    justify-content: center;
}

.seccion2{
    text-align: center;
    padding:10px 20px;
    border-radius: 20px;
    background-color: #fefe2a;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.contenedor{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    gap:30px;
    margin-left:60px;
    margin-right: 60px;
}
.item1{
    color:#ffffff;
    background-color: #8d8d8d;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.item2{
    color:#ffffff;
    background-color: #8d8d8d;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.item3{
    margin-right: 10px;
    color:#ffffff;
    background-color: #8d8d8d;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.logo{
    width: 104px;
}
.footer{
    background-color: #f0f733;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.apartado{
    color:black;
    display: block;
    transition: color 0.4s ease;
    cursor: pointer;
}

.apartado p:hover{
    color:blue;
}
.seccion1{
    background-image: url('fondo_diseño.png');
}

@media (max-width: 768px) {
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:400px) {
    .contenedor{
        grid-template-columns: 1fr;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
}